<strong>Olá, {{ deliveryMan }}</strong>
<p>Você possuí uma encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatario: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Numero: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
</p>
